<div class="big-blog-form">
	<%= form_for @blog do |f| %>
		title <%= f.text_field :title, id: "ftitle" %><br>
		<%= text_area(:content, :text, size: "80x18", value: @blog.content) %>
		<div class="flexed">
			<%= f.submit "update" %>
	<% end %>

		<div class="del"><%= link_to "delete post", blog_path, method: :delete %></div>
	</div>

</div>