<% @blogs.each do |entry| %>

	<div class="blog-entry">

		<a href="/blogs/<%= entry.id%>"><h2><%= entry.title %></h2></a>

		<h3><b>posted by</b> <%= entry.user.displayname %></h3>

		<%= entry.content %>

		<% if entry.user == current_user %>
			<a href="/blogs/<%= entry.id %>/edit">edit</a>
		<% end %>

		<div class="entry-comments-box">
			<% entry.comments.each_with_index do |comment, i| %>
				<% if entry.comments.length > 2 && i < 2 %>
					<div class="blog-entry-comment <% if i%2==0 %>even<% else %>odd<% end %>"><%= comment.content %></div>
				<% elsif entry.comments.length > 2 && i == entry.comments.length - 1 %>
					<!-- <div class="blog-entry-comment even"><%= comment.content %></div> -->
					<div class="blog-entry-comment even commentspace">...</div>
					<a href="/blogs/<%= entry.id%>" class="comments-link">see all comments</a>
				<% elsif entry.comments.length <= 2 %>
					<div class="blog-entry-comment <% if i%2==0 %>even<% else %>odd<% end %>"><%= comment.content %></div>
				<% end %>
			<% end %>

			<% if (entry.comments.length == 0 && entry.user != current_user) %>
				<%= form_for @comment, :url => '/comment' do |f| %>
					<%= f.text_field :content %>
					<%= hidden_field_tag :blog_id, entry.id %>
					<%= f.submit "comment" %>
				<% end %>
			<% end %>
		</div>
	</div>

<% end %>
