<h1>Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>

<% if cookies[:fuck] %>
	<%= cookies[:fuck] %> +
	<%= cookies[:bloggo] %>
<% end %>

<% @blogs.each do |entry| %>

	<div class="blog-entry">

	<a href="/blogs/<%= entry.id%>">
		<h2><%= entry.title %></h2>
	</a>

	<h3><%= entry.user.displayname %></h3>

	<%= entry.content %>

	<% if entry.user == current_user %>
		<a href="/blogs/<%= entry.id %>/edit">edit</a>
	<% end %>

	<% entry.comments.each_with_index do |comment, i| %>
		<% if entry.comments.length > 2 && i < 1 %>
			<div class="blog-entry-comment"><%= comment.content %></div>
			<div class="blog-entry-comment">...</div>
		<% elsif entry.comments.length > 2 && i == entry.comments.length - 1 %>
			<div class="blog-entry-comment"><%= comment.content %></div>
			<a href="/blogs/<%= entry.id%>"><div class="blog-entry-comment">see all comments</div></a>
		<% elsif entry.comments.length <= 2 %>
			<div class="blog-entry-comment"><%= comment.content %></div>
		<% end %>
	<% end %>

	<% if (entry.comments.length == 0 && entry.user != current_user) || (0 < entry.comments.length && entry.comments.length < 3) %>
		<%= form_for @comment, :url => '/comment' do |f| %>
			<%= f.text_field :content %>
			<%= hidden_field_tag :blog_id, entry.id %>
			<%= f.submit "comment" %>
		<% end %>
	<% end %>

	</div>

<% end %>